<div class="mt-4">
    <h2>UPDATE COURSE</h2>

    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Name course</label>
            <input type="text" class="form-control" value="{{course.name}}" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description course</label>
            <textarea class="form-control" id="description" name="description">{{course.description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">Video id</label>
            <input type="text" class="form-control" value="{{course.videoId}}" id="videoId" name="videoId">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Link image</label>
            <input type="text" class="form-control" value="{{course.image}}" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">Add course</button>
    </form>
</div>