<form method="POST" class="mt-4" action="/courses/handle-form-stored-actions">
    <div>
      <h2>My Courses</h2>
      <a href="/me/trash/courses">Recycle Bin ({{deletedCount}})</a>

      <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Select all
          </label>
        </div>
        <select class="form-select form-control-sm select-all-action" name="action" required="required">
          <option value="" selected>--Action--</option>
          <option value="delete">Delete</option>
        </select>

        <button class="btn btn-primary btn-sm btn-check-all-submit" disabled="disabled">Do</button>
      </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">
                  Name
                  {{{sortable 'name' _sort}}}
                </th>
                <th scope="col">
                  VideoId
                  {{{sortable 'videoId' _sort}}}
                </th>
                <th scope="col " colspan="2">
                  Date create
                  {{{sortable 'createdAt' _sort}}}
                </th>
            </tr>
        </thead>
        <tbody>
             {{#each courses}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{sum 1 @index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Update</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                You haven't posted a course yet.
                <a href="/courses/create">Create course</a>
              </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</form>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete course?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure delete this course?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hiden form --}}
<form name="delete-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded',function(){
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-check-all-submit');

        //When dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });

        //When delete course button clicked
        btnDeleteCourse.onclick = function(){
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
            deleteForm.submit();
        };

        //When checkboxAll is clicked
        checkboxAll.change(function(){
          var isCheckAll = $(this).prop('checked');
          courseItemCheckbox.prop('checked', isCheckAll);
          renderCheckAllSubmitBtn();
        });

        //When course item checkbox is clicked
        courseItemCheckbox.change(function(){
          var isCheckAll = (courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length);
            checkboxAll.prop('checked', isCheckAll);
            renderCheckAllSubmitBtn();
        });

        function renderCheckAllSubmitBtn(){
          var checkedCount = $('input[name="courseIds[]"]:checked').length;
          if(checkedCount > 0){
            checkAllSubmitBtn.attr('disabled', false);
          }else{
            checkAllSubmitBtn.attr('disabled', true);
          }
        }
    });
</script>