<form method="POST" class="mt-4" action="/courses/handle-form-trash-actions">
    <div>
      <h2>RECYCLE BIN</h2>
      <a href="/me/stored/courses">Courses</a>

      <div class="mt-4 d-flex align-items-center">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Select all
          </label>
        </div>
        <select class="form-select form-control-sm select-all-action" name="action" required="required">
          <option value="" selected>--Action--</option>
          <option value="restore">Restore</option>
          <option value="delete">Delete</option>
        </select>

        <button class="btn btn-primary btn-sm btn-check-all-submit" disabled="disabled">Do</button>
      </div>
    </form>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Name</th>
                <th scope="col">VideoId</th>
                <th scope="col " colspan="2">Date deleted</th>
            </tr>
        </thead>
        <tbody>
             {{#each courses}}
            <tr>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                  </div>
                </td>
                <th scope="row">{{sum 1 @index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.videoId}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Restore</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Delete absolutely</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">
                Recycle bin is empty.
              </td>
            </tr>

            {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete absolutely course?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        This action cannot be undone!!
        Are you sure delete absolutely this course?
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-course" class="btn btn-danger">Delete absolutely</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- Hidden form for submit method DELETE(delete force) and PATCH(restore) --}}
<form name="delete-course-form" method="POST"></form>
<form name="restore-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded',function(){
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var restoreForm = document.forms['restore-course-form'];
        var btnRestore = $('.btn-restore');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.btn-check-all-submit');

        //When dialog confirm clicked
        $('#delete-course-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            courseId = button.data('id');
        });
        //When delete course button clicked
        btnDeleteCourse.onclick = function(){
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }
        //Restore button clicked
        btnRestore.click(function(e){
            e.preventDefault();
            var courseRestoreId = $(this).data('id');
            restoreForm.action = '/courses/' + courseRestoreId + '/restore?_method=PATCH';
            restoreForm.submit();
        })

        //When checkboxAll is clicked
        checkboxAll.change(function(){
          var isCheckAll = $(this).prop('checked');
          courseItemCheckbox.prop('checked', isCheckAll);
          renderCheckAllSubmitBtn();
        });

        //When course item checkbox is clicked
        courseItemCheckbox.change(function(){
          var isCheckAll = (courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length);
            checkboxAll.prop('checked', isCheckAll);
            renderCheckAllSubmitBtn();
        });

        function renderCheckAllSubmitBtn(){
          var checkedCount = $('input[name="courseIds[]"]:checked').length;
          if(checkedCount > 0){
            checkAllSubmitBtn.attr('disabled', false);
          }else{
            checkAllSubmitBtn.attr('disabled', true);
          }
        }

    });
</script>